@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
.orange {
  color: orange;
}
.gray {
  color: gray;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 80%;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
.hireing-me {
  text-align: center;
  padding: 10px 40px;
  text-transform: uppercase !important;
  background: linear-gradient(45deg, lightsalmon, tomato);
  color: #fff;
  border-radius: 5px;
}
